---
import Post, { frontmatter } from '../post.mdx';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>satteri-reading-time</title>
	</head>
	<body>
		<p data-testid="reading-time"><strong>{frontmatter.minutesRead} min read</strong></p>
		<article>
			<Post />
		</article>
	</body>
</html>
